BasedOnStyle: LLVM
# IndentWidth: 4
AlwaysBreakTemplateDeclarations: Yes
SpacesBeforeTrailingComments: 1
# BreakBeforeBraces: llvm
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Always
# AllowShortSpecializationsOnASingleLine: true
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
ColumnLimit: 80
ReferenceAlignment: Left

SortIncludes: false

